# Dependency directories
node_modules/

# Environment variables files
backend/.env
backend/.env.local
.env
.env.local

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# UI Design & Documentation (Tài liệu & Bản vẽ thiết kế)
frontend/wireframe.html
frontend/css/wireframe.css
ui_design_documentation.md
*.h2d
